<%- include('header') %>
<div class="content-card">
    <h1 class="main-title">What's Trending Around the World?</h1>
    <div id="lol"></div>
    <div>
    	<p class="desc">Click on a country to get the top 3 trending topics on Twitter in the selected country!</p>
    </div>
</div>

<%- include('footer') %>